APP_NAME="Student Dormitory System"
APP_ENV=development

DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=Admin@123

FIREBASE_PROJECT_ID=dormitory-monitoring-sys-d3cc7
FIREBASE_CREDENTIALS=credentials/firebase-service-account.json
FIREBASE_API_KEY=AIzaSyBb_HBGlXvrJdSHNiQL4dwZZu-dXTLriIs
FIREBASE_AUTH_DOMAIN=dormitory-monitoring-sys-d3cc7.firebaseapp.com
FIREBASE_DATABASE_URL=https://dormitory-monitoring-sys-d3cc7-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=dormitory-monitoring-sys-d3cc7.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=460419784344
FIREBASE_APP_ID=1:460419784344:web:e2e767bcedc413b03a7aed
FIREBASE_MEASUREMENT_ID=G-4RXGYL69SD

SESSION_NAME=dormitory_session
